{% import_yaml "consul/osmap.yaml" as osmap %}
{% import_yaml "consul/defaults.yaml" as defaults %}


{# Map OS to OSName #}
{% set os_distro = salt['grains.filter_by'](osmap,grain='os',default='Debian') %}

{# Map Operating System version #}
{% if grains['os'] == 'CentOS' %}
{% set os_settings = salt['grains.filter_by'](os_distro,grain='osmajorrelease',base='common') %}
{% else %}
{% set os_settings = salt['grains.filter_by'](os_distro,grain='osrelease',base='common') %}
{% endif %}

{# Merge in defaults to OS settings #}
{% do defaults.consul.update(os_settings) %}

{# Get networks #}
{% set consul_pillar = salt['pillar.get']('consul',default=defaults.consul,merge=True) %}

{# Create import pillar #}
{% set consul = consul_pillar %}
